{{ define "main" }}
  <header class="list-header">
    <h1 class="list-title">{{ .Title }}</h1>
    {{- with .Description }}<div class="list-description">{{ . | markdownify }}</div>{{ end }}
    {{- with .Content }}<div class="list-content">{{ . }}</div>{{ end }}
  </header>

  <section class="post-list">
    {{- $paginator := .Paginate (partial "pagination-pages.html" .) }}
    {{- range $paginator.Pages }}
      {{ partial "post-entry.html" . }}
    {{- end }}
    {{ partial "pagination.html" . }}
  </section>
{{ end }}
