{{- $showLastmod := partial "param-bool.html" (dict "page" . "key" "showLastmod" "default" false) -}}
{{- if and $showLastmod (.Lastmod.After .PublishDate) -}}
  {{- $dateFormat := or site.Params.postDateFormat site.Params.dateFormat ":date_long" -}}
  <div class="post-meta post-lastmod">
    <span class="meta-lastmod">
      <span class="meta-label">{{ i18n "lastUpdated" | default "Last updated" }}</span>
      <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ time.Format $dateFormat .Lastmod }}</time>
    </span>
  </div>
{{- end -}}
