{{- /* Post metadata line: date, reading time, word count */ -}}
<div class="post-meta">
  {{- with .PublishDate }}
    <span class="meta-date">
      <time datetime="{{ .Format "2006-01-02" }}">{{ .Format (or site.Params.dateFormat "Jan 2, 2006") }}</time>
    </span>
  {{- end }}
  {{- if site.Params.showReadingTime }}
    <span class="meta-reading-time">{{ .ReadingTime }} {{ i18n "minutes" .ReadingTime }}</span>
  {{- end }}
  {{- if site.Params.showWordCount }}
    <span class="meta-word-count">{{ .WordCount }} {{ i18n "words" .WordCount }}</span>
  {{- end }}
  {{- if and .IsPage site.Params.showAuthor }}
    {{- with or .Params.author site.Params.author }}
      <span class="meta-author">{{ i18n "by" }} {{ delimit (slice | append .) ", " }}</span>
    {{- end }}
  {{- end }}
</div>
