{{- /* Post metadata line: created, updated, reading time, word count, author. */ -}}
{{- $page := .page -}}
{{- $includeLastmod := .includeLastmod | default false -}}
{{- $dateFormat := or site.Params.postDateFormat site.Params.dateFormat ":date_long" -}}
<div class="post-meta">
  {{- if partial "param-bool.html" (dict "page" $page "key" "showDate" "default" true) }}
  {{- with $page.PublishDate }}
    <span class="meta-date">
      <span class="meta-label meta-date-label">{{ i18n "createdAt" | default "Created" }}</span>
      <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}" title="{{ .Format "2006-01-02 15:04:05 UTCZ07:00" }}">{{ time.Format $dateFormat . }}</time>
    </span>
  {{- end }}
  {{- end }}
  {{- $showLastmod := partial "param-bool.html" (dict "page" $page "key" "showLastmod" "default" false) -}}
  {{- if and $includeLastmod $showLastmod ($page.Lastmod.After $page.PublishDate) }}
    <span class="meta-lastmod">
      <span class="meta-label">{{ i18n "lastUpdated" | default "Last updated" }}</span>
      <time datetime="{{ $page.Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ $page.Lastmod.Format "2006-01-02 15:04:05 UTCZ07:00" }}">{{ time.Format $dateFormat $page.Lastmod }}</time>
    </span>
  {{- end }}
  {{- if partial "param-bool.html" (dict "page" $page "key" "showReadingTime" "default" false) }}
    <span class="meta-reading-time">
      <svg class="meta-icon" viewBox="0 0 24 24" width="14" height="14" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true"><circle cx="12" cy="12" r="9"/><path d="M12 7v5l3 2"/></svg>
      {{ $page.ReadingTime }} {{ i18n "minutes" $page.ReadingTime }}
    </span>
  {{- end }}
  {{- if partial "param-bool.html" (dict "page" $page "key" "showWordCount" "default" false) }}
    <span class="meta-word-count">{{ $page.WordCount }} {{ i18n "words" $page.WordCount }}</span>
  {{- end }}
  {{- if and $page.IsPage (partial "param-bool.html" (dict "page" $page "key" "showAuthor" "default" false)) }}
    {{- with or $page.Params.author site.Params.author }}
      <span class="meta-author">{{ i18n "by" }} {{ delimit (slice | append .) ", " }}</span>
    {{- end }}
  {{- end }}
</div>
